/* Wide ranging style*/
html{
    width: auto;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: rgb(73, 71, 71);
    flex-shrink: 2;
}

h1{
    font-weight: 700;
    font-size: 3.5rem;
    margin: 5%;
}
h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.25em;
}
h3 {
    font-weight: 300;
    margin: 5%;
    font-size: 2rem;
}
h4 {
    font-weight: 100;
    line-height: 1.5em;
    font-size: 1.25rem;
}

/* Header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-top: 0;
    height: 64px;
    width: auto;
}
header img {
    width: auto;
    height: 80%;
}
header #logo { 
    display:flex;
    flex-direction: row;
    font-size: 32px;
    height: 64px;
    margin: 0 24px;
    align-items: center;
}
.bold {
    font-weight: 600;
}
.light{
    font-weight: 200;
    color: gray;
} 
nav {
    display: flex;
}
ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 24px; 
}
li {
    margin: 20px 16px;
}
a {
    font-size: 1.25rem;
    color: black; 
    text-decoration-line: none;
    font-weight: 200;
}

/* Banner*/
.banner {
    display: flex;
    margin-top: 0px;
    background-color: rgba(189, 185, 185, .5);
    width: 100%;
}
.leftbanner {
    width: 60%;
    padding: 24px 32px;
}
.banner img {
    width: 100%;
    height: auto;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: auto;
    margin: 5% 0;
}
.description h1 {
    display: flex;
    flex-flow: 1 3 40px;
    margin: 1rem 2rem;
}
.description h2{
    display: flex;
    flex-flow: 1 3 40px;
    margin: 1rem 2rem;
}
.description a {  
    height: 10%;
    width: 50%;
    background-color: rgba(70, 67, 67, 0.6);
    margin: 1rem 2rem;
}
button {
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    background-color: rgba(70, 67, 67, 0.6);
    color: white;
}
/*Main*/
.main {
    display:flex;
    flex-direction: row;
    width: 100%;
}
.mainpic {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 32px;
    padding: 32px 24px;
}
.maintext {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
}
.maintext h4{
    padding-left: 5%;
}
.mainpic img {
    width: 100%;
    height: auto;
}
.right_side_info{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 18%;
    width: 40%;
}
.resources {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0% 2%;
}
.resources img {
    display: flex;
    flex-direction: column;
    width: 35%; 
    height: auto;
    overflow: hidden;
    padding: 3% 3%;
}
.dark{
    background-color: rgba(189, 185, 185, .5);
}
.options {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: auto;
    padding: 2%;
}
.options h2 {
    margin: 0;
    padding-bottom: 2%;
}
.options h4{
    margin: 0;
    padding-bottom: 2%;
}
.options a {
    color: blue
}

/* Courses Section*/
.start { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(189, 185, 185, .5);
    padding-bottom: 32px;
}
.start h1 {
    align-content: center;
}
.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}
.course_box img{
    width: 100%;
    height: auto;
}
.course_box h2 {
    padding-left: 16px;
}
.course_box h4 {
    padding-left: 16px;
}
.course_box {
   margin: 32px;
   background-color: white;
}

/* Thesis*/
.thesis_exhibit {
    display: flex;
    flex-direction: column;
}
.thesisbody {
    display: flex;
    flex-direction: row;
}
.thesis {
    font-weight: 700;
    font-size: 3.5rem;
    margin: 32px;
    text-align: center;
}
.leftside {
    flex-direction: column;
    width: 60%;
    padding: 0 24px 24px 24px;
}
video {
    width: 100%;
    height: auto;
}
.rightside { 
    display: flex;
    flex-direction: column;
    width: 40%;
}
.rightside img {
    width: 35%;
    padding: 16px;
}
.rightside h2  {
    padding-top: 24px;
    margin-bottom: 0;
}
.rightside h4 {
    margin-top: 0;
}
.fisma {
    display:flex;
    background-color: rgba(189, 185, 185, .5);
}
.nowandthen {
    display: flex;
}
.fismatext {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 65%;
} 
.nowtext {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 65%;
} 
/* Footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 24px;
}
.footbar {
    display: flex;
    align-items: center;
}
.footbar a {
    padding: 0 8px;
}
/* Media Queries*/
@media only screen and (min-width: 300px) and (max-width: 991px){
    body {
        width: 100%;
    }
    
    .banner {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem;
    }
    .leftbanner {
        width: 100%;
    }
    .description {
        display:flex;
        margin-left: 3rem;
        width: 100%;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem;
    }
    .mainpic {
        width: 100%;
    }
    .right_side_info {
        display: flex;
        width: 100%;
    }
    .resources {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin:0rem;
    }
    .resources img {
        width: 60%;
        height: auto;
        padding: 2rem;
    }
    .options {
        margin-left: 6rem;
        margin-bottom: 2rem;
    }
    .start {
        margin-left: 2rem;
        width: 100%;
    }
    .courses {
        margin: 0 2rem;
        padding: 0 4rem;
    }
    .course_box{
        width: 100%;
        padding: 2rem;
    }
    .thesis_exhibit {
        margin-left: 3rem;
    }
    .thesisbody {
        flex-wrap: wrap;
    }
    .leftside{
        justify-content: center;
        width: 100%;
    }
    video{
        width: 100%;
    }
    .rightside{
        justify-items: center;
        width: 100%
    } 
    .fismatext, .nowtext {
        justify-content: center;
    }
}